In [ ]:
print('Python is powerfull')

Python is powerfull

In [ ]:
print(object= separator+ end+ file= flush=)

In [ ]:
print('Good Morning!')
print('Is is rainy today')

Good Morning!
Is is rainy today

In [ ]:
# print with end whitespace
# print('Good Morning!', end= ' ')

print('Good MOrning!', end= ' ')
print('Is it rainy today')

Good MOrning! Is it rainy today

In [ ]:
print('New Year', 2024, 'see you soon!', sep= '. ')

New Year. 2024. see you soon!

In [ ]:
number = -10.6

name = "Teknologi Informasi"
#print literals
print(number)
print(name)

-10.6
Teknologi Informasi

In [ ]:
print('Teknologi Informasi ' + 'Universitas Tidar')

Teknologi Informasi Universitas Tidar

In [ ]:
x = 5
y = 10

print('The value of x is {} and y is {}'. format(x,y))

The value of x is 5 and y is 10

In [ ]:
num = input('Enter a number: ')

print('You Entered:', num)

print('data type of num:', type(num))

Enter a number: 19
You Entered: 19
data type of num: <class 'str'>

In [ ]:
num = int(input('Enter a number: '))

KeyboardInterrupt: Interrupted by user

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=e0051980e5ba45ce07b7b6278d40f61c44ed29525146f46b60ab164206abae20
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
# Download Example file
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-07 23:14:47--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-07 23:14:47 (21.1 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
# Read the Example1.txt

example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
# Print the path of file

file1.name

'/resources/data/Example1.txt'

In [ ]:
# Print the mode of file,  either 'r' or 'w'

file1.mode

'r'

In [ ]:
#read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# Print the file withe '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Type of file content

type(FileContent)

str

In [ ]:
# Close file after finish

file1.close()

In [ ]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Verify if the file closed

file1.closed

True

In [ ]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Read first four characters

with open(example1, "r")as file1:
    print(file1.read(4))

This

In [ ]:
# Read certain amount of characters

with open(example1, "r")as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
# Iterate through the lines

with open(example1, "r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
# Read all lines and save as a list

with open(example1, "r") as file1:
     FileList = file1.readlines()

In [ ]:
# Print the first line

FileList[0]

'This is line 1 \n'

In [ ]:
# Print the second line

FileList[1]

'This is line 2\n'

In [ ]:
# Print the third line

FileList[2]

'This is line 3'

In [ ]:
!mkdir -p /resources/data

In [ ]:
# Write line to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# Read file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
# Write lines to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Check wheter write to file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [ ]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# Append the line to the file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line D\n")

In [ ]:
# Verify if the appending is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [ ]:
# Copy file to another

with open('Example2.txt', 'r') as readfile:
    with open('Example3.txt', 'w') as writefile:
        for line in readfile:
            writefile.write(line)

In [ ]:
with open('Example3.txt' , 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [2]:
!mkdir -p /resources/data

In [5]:
with open('/resources/data/biodata.txt', 'w') as writefile:
    writefile.write("Nama   : Achmad Chanif Rahmatullah\n")
    writefile.write("Prodi  : S1 Teknologi Informasi\n")
    writefile.write("NPM    : 2420506025\n")
    writefile.write("Alamat : Ngadikusuman, Kertek, Wonosobo\n")
    writefile.write("Hobi   : Hiking\n")
    writefile.write("Email  : chanifg19@gmail.com")

In [6]:
with open('/resources/data/biodata.txt', 'r') as writefile:
  print(writefile.read())

Nama   : Achmad Chanif Rahmatullah
Prodi  : S1 Teknologi Informasi
NPM    : 2420506025
Alamat : Ngadikusuman, Kertek, Wonosobo
Hobi   : Hiking
Email  : chanifg19@gmail.com

In [ ]:
with open('/resources/data/biodata.txt', 'r') as file1:
     FileasList = file1.readlines()
     print(FileasList[0])
     print(FileasList[1])
     print(FileasList[5])

Nama   : Achmad Chanif Rahmatullah

Prodi  : S1 Teknologi Informasi

Email  : chanifg19@gmail.com

In [34]:

print("Selamat datang di Toko Maju Jaya")
print("Senin, 4 September 2023 13.05")
print(" ")

print("DAFTAR BELANJA:")
item1 = "Sabun"
item2 = "Shampo"
item3 = "Mie instant"
item4 = "Detergen"

harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500
total = harga1 + harga2 + harga3 + harga4

print(item1, 'Rp ' + str(harga1))
print(item2, 'Rp ' + str(harga2))
print(item3, 'Rp ' + str(harga3))
print(item4, 'Rp ' + str(harga4))
print(" ")
print("Total = Rp "+ str(total))

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023 13.05

DAFTAR BELANJA:
Sabun Rp 10000
Shampo Rp 15000
Mie instant Rp 5000
Detergen Rp 17500

Total = Rp 47500