**Create a class**

In [1]:
#Create a class named MyClass, Whith a property named x:
class MyClass:
  x = 5

**Create Object**

In [2]:
# Creat an object named p1, and print the value of x:
p1 = MyClass()
print(p1.x)

5

**The__init__() Function**

In [4]:
# creat a class named Person, use the __init__() function to assign values for name and age:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Jhon", 36)
print(p1.name)
print(p1.age)

Jhon
36

**The__str__() Function**

In [5]:
# The string repsentation of an object WITHOUT the __str() function:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Jhon", 36)
print(p1)

<__main__.Person object at 0x79ebfebe5540>

In [6]:
# The string representation of an WITH the __str__() function:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("Jhon", 36)
print(p1)

Jhon(36)

**Object Methods**

In [7]:
# Insert a function that prints a greeting, and execute it on the p1 object:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Jhon", 36)
p1.myfunc()

Hello my name is Jhon

**The self parameter**

In [9]:
# Use the words mysillyobject and abc instead of self:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("Jhon", 36)
p1.myfunc()

Hello my name is Jhon

**Modify Object Properties**

In [10]:
#Set the age of p1 to 40:
p1.age = 40
print(p1.age)

40

**Delete Object properties**

In [11]:
#Delete teh age property from the p1 object:
del p1.age
print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

**Delete Objects**

In [12]:
# Delete teh p1 object:
del p1
print(p1)

NameError: name 'p1' is not defined

**The pass Statements**

In [13]:
class Person:
  pass

**Python Inheritance**

**Create a Parent class**

In [14]:
#Create a class named Person, with firstname and lastname properties, and a printname method:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

**Create a Child Class**

In [15]:
# Create a class named Student, wich will inherit the properties and metods from the Person class:
class Student(Person):
  pass

In [17]:
# use the Student class to create an object, and then execute the printname methond:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

**Add the__init__() Function**

In [19]:
# Add the__init__() function to the Student class:
class Student(Person):
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Student("Paijo", "Olsen")
x.printname()

Paijo Olsen

In [21]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

**Use the super() Function**

In [22]:
class Student(Person):
  def _init__(self, fname, lname):
    super().__init__(fname, lname)

**Add Properties**

In [23]:
#Add a property called graduationyear to the Student class:

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2023

In [25]:
# Add a year parameter, and pass the correct year when creating objects:

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self. graduationyear = year

x = Student("Mike", "Olsen", 2023)

**Add methods**

In [26]:
# Add a method called welcome to the Student class:

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

**Python Iterators**

In [27]:
# Return an iterator from a tuple, and print each value:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [31]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

**Looping Throngh an Iterator**

In [32]:
#Iterate the values of a tuple:

mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [34]:
#Iterate teh characters of a string:

mystr = "banana"

for x  in mystr:
  print(x)

b
a
n
a
n
a

In [37]:
# Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

**StopIteration**

In [38]:
# Stop after 20 iterations:

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**Python Polymorphism**

**Function Polymorphism**

String

In [39]:
x = "Hello World!"

print(len(x))

12

Tuple

In [41]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

3

Dictionary

In [42]:
thisdict = {
  "brand": "ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

**Class Polymorphism**

In [46]:
# Different classes with the same method:

class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")
boat1 = Boat("Ibiza", "Touring 20")
plane1 = Plane("Boeing", "747")

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [ ]:
# create a class called vehicle and make Car, Noat, Plane child classes of Vehicle:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self)
    print("Fly!")

car1 = Car("Ford", "Mustang")
boat1 = Boat("Ibiza", "Touring 20")
plane1 = Plane("Boeing", "747")

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

**Exercise 1**

In [49]:
class AlatTulis:
  def __init__(self):
    self.nama = ""
    self.stok = 0
    self.harga_satuan = 0
    self.harga_total = 0

  def set_data(self, nama, stok, harga_satuan):
    self.nama = nama
    self.stok = stok
    self.harga_satuan = harga_satuan
    self.harga_total = stok * harga_satuan

  def get_data(self):
    return {
        "nama": self.nama,
        "stok": self.stok,
        "harga_satuan": self.harga_satuan,
        "harga_total": self.harga_total
    }

class Penjualan:
  def __init__(self):
    self.total_harga = 0

  def tambah_transaksi(self, harga_total):
    self.total_harga += harga_total

  def get_total_harga(self):
    return self.total_harga

bolpoint = AlatTulis()
pensil = AlatTulis()
penghapus = AlatTulis()

bolpoint.set_data("bolpoint", 10, 1000)
pensil.set_data("pensil", 10, 1000)
penghapus.set_data("penghapus", 10, 1000)

print("Data Bolpoint:", bolpoint.get_data())
print("Data Pensil:", pensil.get_data())
print("Data Penghapus:", penghapus.get_data())

penjualan = Penjualan()

Data Bolpoint: {'nama': 'bolpoint', 'stok': 10, 'harga_satuan': 1000, 'harga_total': 10000}
Data Pensil: {'nama': 'pensil', 'stok': 10, 'harga_satuan': 1000, 'harga_total': 10000}
Data Penghapus: {'nama': 'penghapus', 'stok': 10, 'harga_satuan': 1000, 'harga_total': 10000}