**Cerating and Calling a Fungtion**

In [ ]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Sitohang")

my_function("Toha")
my_function("Tohir")
my_function("Tobi")

Toha Sitohang
Tohir Sitohang
Tobi Sitohang

In [ ]:
#this function expects 2 arguments, and gets 2 arguments:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("toha", "sitohang")

toha sitohang

In [ ]:
#this function expect 2 arguments, but gets only 1:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("surip")

TypeError: my_function() missing 1 required positional argument: 'lname'

**Arbitary Arguments, *args**

In [ ]:
# if the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Lengkung", "Jimin", "Tukimin")

The youngest child is Tukimin

**Keyword Arguments**

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Lekyung", child2 = "Tukimin", child3 = "Jimin")

The youngest child is Jimin

**Arbitary Keyword Arguments, **kwargs**

In [ ]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Thanos", lname = "Ireng Man")

His last name is Ireng Man

**Default Parameter Value**

In [ ]:
def my_function(negara = "Indonesia"):
  print("Saya dari " + negara)

my_function("UEA")
my_function("Arab Saudi")
my_function()
my_function("Malaysia")

Saya dari UEA
Saya dari Arab Saudi
Saya dari Indonesia
Saya dari Malaysia

**Passing a List as an Argument**

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

**The pass Statement**

In [1]:
def myfunction():
  pass

In [2]:
#Recursion Example:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k -1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Result")
tri_recursion(6)

Recursion Example Result
1
3
6
10
15
21

21

In [15]:
def faktorial(n):
  if n == 0:
    return 1
  else:
    return n * faktorial(n-1)

while True:
  n = int(input("Masukkan angka: "))
  if n < 0:
    print("input salah, Faktorial tidak berlaku untuk bilangan negatif")
  else:
    break


print(f"Nilai faktorial dari", n, "adalah ", faktorial(n))

Masukkan angka: -9
input salah, Faktorial tidak berlaku untuk bilangan negatif
Masukkan angka: 3
Nilai faktorial dari 3 adalah  6

In [31]:
import math

def luas_lingkaran():
  r = int(input("Masukan jari-jari lingkaran: "))
  luas = math.pi * r * r
  print(f"Luas lingkaran dengan jari-jari {r} adalah {luas}")

def luas_persegi():
  s = int(input("Masukan sisi persegi: "))
  luas = s * s
  print(f"Luas persegi dengan sisi {s} adalah {luas}")

def luas_segitiga():
  alas = int(input("Masukan alas segitiga: "))
  tinggi = int(input("Masukan tinggi segitiga: "))
  luas = 0.5 * alas * tinggi
  print(f"Luas segitiga dengan alas {alas} dan tinggi {tinggi} adalah {luas}")

def kalkulator_luas():
  while True:
    print()
    print("Program Kalkulator Luas")
    print("=======================")
    print("Anda ingin menghitung luas bangun datar apa?")
    print("1. Lingkaran")
    print("2. Persegi")
    print("3. Segitiga")
    print("4. Selesai")

    pilihan = input("Masukkan pilihan anda (1-4)!:")

    if pilihan == "1":
      luas_lingkaran()
    elif pilihan == "2":
      luas_persegi()
    elif pilihan == "3":
      luas_segitiga()
    elif pilihan == "4":
      print("Program selesai. Terima kasih!")
      break
    else:
      print("Pilihan tidak valid. Silahkan coba lagi.")

kalkulator_luas()

Program Kalkulator Luas
=======================
Anda ingin menghitung luas bangun datar apa?
1. Lingkaran
2. Persegi
3. Segitiga
4. Selesai
Masukkan pilihan anda (1-4)!:3
Masukan alas segitiga: 2
Masukan tinggi segitiga: 1
Luas segitiga dengan alas 2 dan tinggi 1 adalah 1.0

Program Kalkulator Luas
=======================
Anda ingin menghitung luas bangun datar apa?
1. Lingkaran
2. Persegi
3. Segitiga
4. Selesai
Masukkan pilihan anda (1-4)!:4
Program selesai. Terima kasih!