In [ ]:
# Integer

11

11

In [ ]:
# Float

2.14

2.14

In [ ]:
# String
#print("Hello, Python 102!")

"Hello, Python 102!"

'Hello, Python 102!'

In [ ]:
# Type of 12

type(12)

int

In [ ]:
# Type of 2.14

type(2.14)

float

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [ ]:
# Write your code below, Don't forget to press Shift+Enter to execute the cell

type(12.0)

float

In [ ]:
#Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [ ]:
# Print the type of 0.5

type(0.5)

float

In [ ]:
#print the type of 0.56

type(0.56)

float

In [ ]:
#system setting about float type
import sys # it is needes to declare the library "sys" before using it
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

Mengonversi dari satu objek ke jenis objek yang berbeda

In [ ]:
# Verify that this ia an integer

type(2)

int

In [ ]:
# Convert 2 to a float

float(2)

2.0

In [ ]:
# convert integer 2 to a float and check this type

type(float(2))

float

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [ ]:
# convert a string into an integer

int('1')

1

In [ ]:
# convert a string into an integer whit error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [ ]:
# convert the string "1.2" into a float

float('1.2')

1.2

In [ ]:
# convert an integer to a string

str(1)

'1'

In [ ]:
# convert a float to a string

str(1.2)

'1.2'

In [ ]:
# Value True

True

True

In [ ]:
# value False

False

False

In [ ]:
# Type of True

type(False)

bool

In [ ]:
# Convert True to int

int(True)

1

In [ ]:
# Convert 1 to boolean

bool(1)

True

In [ ]:
# Convert 0 to boolean

bool(0)

False

In [ ]:
# Convert True to float

float(True)

1.0

In [ ]:
# Write your code below, Don't forget to press Shift+enter to execute the cell
160/60

2.6666666666666665

In [ ]:
# Matematical expression

30 + 2 * 60 // 10

42

In [ ]:
# Matematical expresion

(30 + 2) * 60

1920

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41
x

160

In [ ]:
# Print out the value in variable

x = 43 + 60 + 16 + 41
x

160

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [ ]:
# Overwrite variable whit new value

x = x / 60
print(x)

2.6666666666666665

In [ ]:
x

2.6666666666666665

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total leght of albums in minutes
total_min

142

In [ ]:
float(total_min)

142.0

In [ ]:
a=2
a

2

In [ ]:
print(float(a))

2.0

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Toatal leght of albums in hours
total_hours

2.3666666666666667

In [ ]:
# Complicate Expression

total_hours = (43 + 42 + 57) / 60 # Total hours in a single ecpression
total_hours

2.3666666666666667

In [ ]:
# Write your code below, Don't forget to press to execute the cell
x = 3 + 2 * 2
x

7

In [ ]:
# Write your code below, Don't forget to press to execute the cell
y = (3 + 2) * 2
y

10

In [ ]:
# Write your code below, Don't forget to press to execute the cell
z = x + y
z

17

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*lebar
volume = panjang*lebar*tinggi

print("Panjang = " , panjang)
print("Lebar = " , lebar)
print("Tinggi = " , tinggi )
print("Keliling = " , keliling)
print("Volume = " , volume)

Panjang =  20.5
Lebar =  25
Tinggi =  10
Keliling =  91.0
Volume =  5125.0

In [ ]:
Mean_nilai_Shafira = ((85 + 75) / 2)
print(Mean_nilai_Shafira)

80.0

In [ ]:
Jumlah_nilai_Hanif_dan_Andi = (75 + 90 + 70 + 75)
print(Jumlah_nilai_Hanif_dan_Andi)

310

In [ ]:
mean_kalkulus1_Widya_Dhanar_Hikma_Nedia = ((85 + 85 + 80 + 95) / 4)
mean_metodestatistika_Widya_dhanar_Hikma_Nedia = ((85 + 85 + 80 + 80))

print("Rata rata nilai kalkulus = " , mean_kalkulus1_Widya_Dhanar_Hikma_Nedia)
print("Rata rata nilai metode statistika = " , mean_metodestatistika_Widya_dhanar_Hikma_Nedia)

Rata rata nilai kalkulus =  86.25
Rata rata nilai metode statistika =  330

In [ ]:
mean_kalkulus1_mhs = ((85 + 80 + 75 + 95 + 85 + 75 + 70 + 85 + 80) / 9)
print("Rata rata nilai Kalkulus = " , mean_kalkulus1_mhs)

Rata rata nilai Kalkulus =  81.11111111111111

In [47]:
gaji_per_jam = 30000
hari_kerja = 27
jam_kerja_per_hari = 8
total_jam_kerja = jam_kerja_per_hari * hari_kerja
gaji_awal = total_jam_kerja * gaji_per_jam
hari_tidak_masuk = 3
jam_kerja_hilang = hari_tidak_masuk * jam_kerja_per_hari
gaji_setelah_potongan = gaji_awal - (jam_kerja_hilang * gaji_per_jam)
tunjangan = 0.10 * gaji_setelah_potongan
lembur_jam = 5
upah_lembur_per_jam = 10000
gaji_lembur = lembur_jam * upah_lembur_per_jam
gaji_total = gaji_setelah_potongan + tunjangan + gaji_lembur
print ("gaji setelah potongan: Rp", gaji_setelah_potongan)
print ("tunjangan: RP", tunjangan)
print ( "gaji total setelah tunjangan dan lembur: Rp", gaji_total)

gaji setelah potongan: Rp 5760000
tunjangan: RP 576000.0
gaji total setelah tunjangan dan lembur: Rp 6386000.0